[workspace]
authors = ["Pete Bachant <petebachant@gmail.com>"]
channels = ["conda-forge"]
description = "Add a short description here"
name = "calkit-multienv-example"
platforms = ["win-64", "linux-64", "osx-64", "osx-arm64"]
version = "0.1.0"

[tasks]

[dependencies]

[feature.main.dependencies]
pandas = "*"
polars = "*"

[feature.pixi2.dependencies]
plotly = "*"

[environments]
main = ["main"]
pixi2 = ["pixi2"]
