asttokens==3.0.0
decorator==5.1.1
executing==2.1.0
ipython==8.30.0
jedi==0.19.2
matplotlib-inline==0.1.7
numpy==2.2.0
packaging==24.2
pandas==2.2.3
parso==0.8.4
pexpect==4.9.0
plotly==5.24.1
prompt-toolkit==3.0.48
ptyprocess==0.7.0
pure-eval==0.2.3
pygments==2.18.0
python-dateutil==2.9.0.post0
pytz==2024.2
six==1.17.0
stack-data==0.6.3
tenacity==9.0.0
traitlets==5.14.3
tzdata==2024.2
wcwidth==0.2.13
